aniso8601==9.0.1
attrs==23.1.0
click==8.1.5
colorama==0.4.6
Flask==1.1.2
flask-restplus==0.13.0
greenlet==2.0.2
itsdangerous==2.0.1
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==2.0.1
psycopg2==2.9.6
pyrsistent==0.19.3
pytz==2023.3
six==1.16.0
SQLAlchemy==2.0.19
typing_extensions==4.7.1
Werkzeug==0.16.0
